<!DOCTYPE html>
{% load static %}
<html style="font-size: 16px;" lang="en"><head>
  <title>About</title>

  <link rel="stylesheet" href="{% static 'Home.css' %}">
</head>
  <body class="about" data-lang="en">
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/about/">About</a></li>
      </ul> 
    <section id="sec-082a">
      <div class="middle">
        <h1>About</h1>
        <p> The objective of this project is to diagnose Diabetic retinopathy using data from the patient, such as Age,Systolic bp, diastolic bp and
            cholesterol. The project was done using a random forest classifier and was able to achieve an accuracy of 74% with a recall of 83%.
        </p>
      </div>
      <h2>Team Members</h2>
      <ul class="names">
        <li class="name"><a class="named">Govind S</a></li>
        <li class="name"><a class="named">Shanal. K. Suresh</a></li>
        <li class="name"><a class="named">Anjana KK</a></li>
        <li class="name"><a class="named">Smit Rami</a></li>
        <li class="name"><a class="named">Thanmai N</a></li>
        <li class="name"><a class="named">Arvind Vikas Nikam</a></li>
      </ul>
    </section>
    <div class="footer">
      <p>.</p>
    </div>
</body></html>