
<!DOCTYPE html>
  {% load static %}
  {{ form.name.errors }}
  <html style="font-size: 16px;" lang="en"><head>
    <title>Home</title>
 
    <link rel="stylesheet" href="{% static 'Home.css' %}">
  </head>
  <body data-lang="en"><header><div>
    <ul class="nav">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
    </ul>    
      </div></header>
    <section>
      <div class="nice">
        <h1 class="home">Retinopathy Diagnosis</h1>
        <h3>Enter the details of the patient in the form given below<span style="font-size: 1.5rem;"></span>
        </h3>
        <div>
          {{ form.non_field_errors }}
          <form action="/results/" method="POST" name="form" style="padding: 10px;">
            {%csrf_token%}
            <div>
              <label>Age</label>
                <input type="number" max="150" min="0" placeholder="Enter the age of the person" id="name-b3a8" name="age" required="">
            </div>
            <div>
              <label>Systolic bp</label>
                <input type="number" max="370" min="0" placeholder="Enter the systolic blood pressure of the person" id="text-ghf" name="systolic_bp" required="">
            </div>
            <div>
              <label>Diastolic bp</label>
                <input type="number" max="360" min="0" placeholder="Enter the diastolic bp of the person" id="text-f969" name="diastolic_bp" required="required">
            </div>
            <div>
              <label>Cholesterol</label>
                <input type="number" max="1000" min="0" placeholder="Enter the cholesterol value of the person" id="text-de01" name="cholesterol" required="required">
            </div>
              <input type="submit" value="submit">
            </div>
          </form>
        </div>
      </div>
    </section>
    <div class="footer">
      <p>.</p>
    </div>
  
</body></html>